# Created by .ignore support plugin (hsz.mobi)
### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea
.vscode
/.history/
/_private/**
/secrets
/.gitsecret/
.wsctl

/src/matrix/docker/data/neo.wiresafe.com.tls.crt
/src/matrix/docker/data/neo.wiresafe.com.tls.dh
/src/matrix/docker/data/neo.wiresafe.com.tls.key
/src/matrix/docker/data/neo.wiresafe.com.signing.key
/src/matrix/docker/data/turnserver.conf
